.currentPost {
    position: absolute;
    width: 100%;
    padding: 2rem;
    background-color: rgb(214, 214, 214, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    &__block {
        max-width: 53rem;
        width: 100%;
    }
    &__tools {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        &--send {
            margin-top: 2rem;
        }
    }
}